# Part 1

## Pandas 데이터 분석 모듈 불러오기

pandas는 무료 오픈소스로 공개된 라이브러리입니다.

**라이브러리**는 보통 다양한 기능들을 손쉽게 사용할 수 있도록 만들어진 하나의 목적을 가진 기능들의 집합체입니다.
<br>pandas는 **대표적인 데이터 분석 라이브러리** 입니다.

더 궁금하신 분들은 [공식 홈페이지](https://pandas.pydata.org/)를 참고하시면 좋습니다. (물론, 영어로 되어 있어요..)

제가 작성한 블로그 글인 [10분만에 pandas 정복하기 - 대한민국 부동산 데이터 활용편](https://teddylee777.github.io/data_science/10minutes-to-pandas-%EB%B6%80%EB%8F%99%EC%82%B0%EC%8B%A4%EC%A0%9C%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%99%9C%EC%9A%A9%ED%95%98%EA%B8%B0) 을 참고하시면 도움이 될 것 같습니다.

In [1]:
# tip 1. 모듈(=라이브러리)을 불러올 때는 import 라는 구문 다음에 라이브러리의 이름을 적습니다.
# tip 2. as pd라고 하는 부분은 별칭을 지어주는 것입니다. pandas라는 라이브러리를 난 앞으로 'pd'라고 부를 꺼야 입니다.
import pandas as pd

In [15]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

## 데이터 불러오기

데이터 분석의 첫 걸음인 모듈(=라이브러리)을 불러왔다면, 이제 데이터를 불러올 차례입니다!

CSV(Comma-seperated values)는 데이터 분석에서 굉장히 많이 사용되는 파일 확장자입니다.

말그대로 Comma(쉼표)로 분리된 데이터이며, excel포맷으로 저장하는 것보다 훨씬 빠르게 데이터를 불러올 수 있기 때문에 csv 포맷을 많이 사용하여 데이터를 저장하거나 불러올 수 있습니다. 너무나 다행히도, pandas에서 csv파일로 저장하거나 불러올 수 있는 기능이 있습니다.

아래에는 편의상 .csv로 된 파일을 다운로드 url을 통해 제공하고 있습니다.
<br>아래와 같이 다운로드 가능한 .csv 파일형식의 url을 알고 있다면, 아래와 같이 바로 읽어 들여올 수 있습니다.

In [8]:
data = pd.read_csv('http://bit.ly/ld-sample-idol', index_col='순위')

In [9]:
data.head()

      이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23  162.0   A   7650928

여기까지 아무런 오류가 나지 않았다면 성공입니다!

## 데이터 접근하기

위의 표와 같은 형태를 pandas에서는 **dataframe**이라고 부릅니다.
<br>2차원 데이터로 표현되어 있고, 마치 엑셀처럼 생겼기 때문에 이질감이 없습니다.

'순위', '이름', '그룹'...가로 방향을 우리는 **column(열)**이라고 합니다.
<br>그리고 세로 방향을 우리는 **row(행)**이라고 합니다.

<hr>dataframe은 반드시 row와 column으로 구성된 2차원(2d)으로 구성된 데이터 셋 (데이터 묶음)입니다.

너무 어렵게 생각할 필요 없이 그냥 엑셀을 떠올리시면 됩니다. (엑셀 = dataframe)

<hr>
엑셀에서 행 전체 선택, 열 전체 선택, 혹은 모두 선택 가능하잖아요?

dataframe도 당연히 됩니다! 하지만, 조금은 불편할 수 있어요. 왜냐하면 마우스로 선택은 불가능 하거든요.
<br>하지만, 조금만 연습하고 익숙해지면, 마우스로 선택하는 것보다 훨씬 편리하고 빠르게 하게 됩니다^^

## column 선택

아래의 예시처럼 홑따옴표 '' 혹은 쌍따옴표 "" 안에 column명을 넣어주면 됩니다.

In [29]:
data['이름']

순위
1       지민
2     지드래곤
3     강다니엘
4        뷔
5       화사
6       정국
7       민현
8       소연
9        진
10     하성운
11      태연
12     차은우
13      백호
14      JR
15      슈가
Name: 이름, dtype: object

In [31]:
data["이름"]

순위
1       지민
2     지드래곤
3     강다니엘
4        뷔
5       화사
6       정국
7       민현
8       소연
9        진
10     하성운
11      태연
12     차은우
13      백호
14      JR
15      슈가
Name: 이름, dtype: object

dot(점)을 찍고 불러올 수 있습니다만, 별로 추천드리고 싶은 방식은 아닙니다.
<br>가독성이 떨어지며, 트렌드에 맞춰가야 나중에 다른 사람의 코드를 봤을 때도 이질감이 없을 수 있습니다.

In [32]:
data.이름

순위
1       지민
2     지드래곤
3     강다니엘
4        뷔
5       화사
6       정국
7       민현
8       소연
9        진
10     하성운
11      태연
12     차은우
13      백호
14      JR
15      슈가
Name: 이름, dtype: object

## row 선택

iloc이라는 함수를 통해 한마디로 row의 숫자를 지정하거나 범위로 지정할 수 도 있습니다.

(이 부분은 나중에 조건문 필터링 부분에서 어차피 한번 더 다뤄질 내용입니다)

In [37]:
# 1개의 row 선택
data.iloc[3]

이름                  뷔
그룹              방탄소년단
소속사               빅히트
성별                 남자
생년월일       1995-12-30
키               178.0
혈액형                AB
브랜드평판지수       8073501
Name: 4, dtype: object

In [38]:
# 범위의 row 선택
data.iloc[3:7]

    이름     그룹   소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
4    뷔  방탄소년단   빅히트  남자  1995-12-30 178.0  AB  8073501
5   화사    마마무   RBW  여자  1995-07-23 162.0   A  7650928
6   정국  방탄소년단   빅히트  남자  1997-09-01 178.0   A  5208335
7   민현   뉴이스트  플레디스  남자  1995-08-09 182.0   O  4989792

In [63]:
# 띄업띄엄 선택하여 가져오기
select = [1,3,5,7,9]
data.iloc[select]

      이름     그룹      소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
2   지드래곤     빅뱅       YG  남자  1988-08-18 177.0   A  9916947
4      뷔  방탄소년단      빅히트  남자  1995-12-30 178.0  AB  8073501
6     정국  방탄소년단      빅히트  남자  1997-09-01 178.0   A  5208335
8     소연    아이들       큐브  여자  1998-08-26 157.0   B  4668615
10   하성운     핫샷  스타크루이엔티  남자  1994-03-22 167.0   A  4036489

In [64]:
data.iloc[[1,3,5,7,9]]

      이름     그룹      소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
2   지드래곤     빅뱅       YG  남자  1988-08-18 177.0   A  9916947
4      뷔  방탄소년단      빅히트  남자  1995-12-30 178.0  AB  8073501
6     정국  방탄소년단      빅히트  남자  1997-09-01 178.0   A  5208335
8     소연    아이들       큐브  여자  1998-08-26 157.0   B  4668615
10   하성운     핫샷  스타크루이엔티  남자  1994-03-22 167.0   A  4036489

## column & row 선택

In [56]:
# column 선택 후 iloc 로 행 가져오기
data['이름'].iloc[3]

'뷔'

In [57]:
# column 선택 후 범위로 가져오기
data['이름'].iloc[3:7]

순위
4     뷔
5    화사
6    정국
7    민현
Name: 이름, dtype: object

In [61]:
data['이름'].iloc[[3,5,8,9]]

순위
4       뷔
6      정국
9       진
10    하성운
Name: 이름, dtype: object